<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dm.net.dao.UserDateMapper">
    <insert id="addUerDate" parameterType="UserDate">
        insert into ssmdm.userdate(iEmail, dLink, dTag, dAnn, iTel)
        values (#{iEmail},#{dLink},#{dTag},#{dAnn},#{iTel})
    </insert>
    <delete id="deleteUserDateById" parameterType="int">
        delete from ssmdm.userdate where dId = #{dId}
    </delete>
    <update id="updateUserDate" parameterType="UserDate">
        update ssmdm.userdate
        set iEmail = #{iEmail},dLink = #{dLink},dTag = #{dTag},dAnn = #{dAnn},iTel = #{iTel}
        where dId = #{dId}
    </update>
    <select id="queryUserDateById" resultType="UserDate">
        select *from ssmdm.userdate where dId = #{dId}
    </select>
    <select id="queryAllUserDate" resultType="UserDate">
        select * from ssmdm.userdate
    </select>
    <select id="queryUserDateByAnn" resultType="UserDate" parameterType="String">
        select *from ssmdm.userdate where dAnn LIKE CONCAT('%',#{dAnn},'%')
    </select>
    <select id="queryByTag" resultType="String" parameterType="UserDate">
        select *from ssmdm.userdate where dTag LIKE CONCAT('%',#{dTag},'%')
    </select>
</mapper>